@import "settings.scss";
.footer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        height: 300px;
    }
    &__copyright {
        text-transform: uppercase;
        font-size: 0.9rem;
        opacity: 0.7;
        @include mobile {
            width: 80%;
            text-align: center;
            font-size: 1rem;
        }
    }
    &__links {
        padding-top: 10px;
        .link-icon {
            color: $color-font;
            opacity: 0.7;
            font-size: 1.5rem;
            margin: 0 5px;
            transition: 250ms;
            &:hover {
                opacity: 1;
            }
            @include mobile {
                font-size: 2rem;
            }
        }
        @include mobile {
            padding: 15px;
        }
    }
}
.photo-info {
    text-transform: uppercase;
    font-size: 0.7rem;
    opacity: 0.7;
    padding-top: 10px;
    @include mobile {
        text-align: center;
        width: 80%;
        font-size: 0.8rem;
    }
}
