@import "settings.scss";
.footer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__copyright {
        text-transform: uppercase;
        font-size: 0.9rem;
        opacity: 0.7;
        @include mobile {
            width: 80%;
            text-align: center;
            font-size: 0.5rem;
        }
    }
    &__links {
        padding-top: 10px;
        .link-icon {
            color: $color-font;
            opacity: 0.7;
            font-size: 1.5rem;
            margin: 0 5px;
            transition: 250ms;
            &:hover {
                opacity: 1;
            }
        }
    }
}
