@import "settings.scss";
.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__heading {
        width: 60%;
        padding-top: 100px;
        font-family: $font-heading;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include mobile {
            width: 80%;
            padding-top: 50px;
        }

        h1 {
            width: 100%;
            padding-bottom: 50px;
            @include mobile {
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    &__jumbo {
        width: 100%;
    }
    &__jumbo2 {
        width: 100%;
        padding-bottom: 50px;
    }
}
.about {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        margin-top: 50px;
    }
    &__bio {
        width: 60%;
        h2,
        h3 {
            font-size: 1.7rem;
            font-family: $font-heading;
            text-align: left;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 50px;
        }
        @include mobile {
            width: 80%;
        }
    }
}
.reachme {
    border-top: 0.5px solid $color-light;
    border-bottom: 0.5px solid $color-light;

    font-family: $font-heading;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include tablet {
            flex-direction: column;
            margin-top: 10px;
        }
    }

    h4 {
        font-size: 2rem;
        @include mobile {
            font-size: 1rem;
            width: 80%;
            text-align: center;
        }
        @include tablet {
            font-size: 1.7rem;
        }
    }
    &__link {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        border: 1px solid $color-font;
        padding: 10px 20px;
        color: $color-font;
        transition: 250ms;
        margin: 20px 10px;
        @include mobile {
            width: 80%;
            font-size: 1rem;
            text-align: center;
            margin: 10px 0;
        }
        @include tablet {
            margin: 10px 0;
        }

        &:hover {
            color: $color-mint;
            border: $color-mint solid 1px;
        }
    }
}
