@import "settings.scss";

.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    @include tablet {
        height: 50px;
        padding: 0 20px;
    }
    .nav-burger {
        display: none;
        @include tablet {
            display: flex;
            z-index: 10;
        }
    }

    .logo {
        font-family: $font-logo;
        font-size: 55px;
        font-weight: bold;

        @include tablet {
            font-size: 38px;
        }
        @include mobile {
            font-size: 22px;
        }
    }
    .nav-item {
        color: $color-font;
    }
    .nav-link {
        color: $color-font;
        transition: 250ms;
        &:hover {
            color: $color-mint;
        }
    }
    .nav-items {
        display: flex;
        @include tablet {
            top: -100%;
            right: 0;
            position: absolute;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: -10;
            transition: 850ms;
        }
        .nav-item {
            padding-left: 40px;
            font-family: $font-heading;
            font-weight: bold;
            font-size: 1.2rem;
            transition: 250ms;

            @include tablet {
                padding-left: 20px;
                font-size: 0.7rem;
            }
        }
    }
    .burger-menu {
        display: none;
        @include tablet {
            top: 0;
            right: 0;
            position: absolute;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: 9;
            transition: 850ms;
        }
        .nav-item {
            font-family: $font-heading;
            font-weight: bold;
            font-size: 2.2rem;
            transition: 850ms;
            padding: 5px 0;
        }
    }
}
.selected {
    color: $color-mint;
}
