@import "settings.scss";

.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    @include tablet {
        height: 50px;
        padding: 0 20px;
    }

    .logo {
        font-family: $font-logo;
        font-size: 55px;
        font-weight: bold;

        @include tablet {
            font-size: 38px;
        }
        @include mobile {
            font-size: 22px;
        }
    }
    .nav-item {
        color: $color-font;
        // &:hover {
        //     color: $color-mint;
        // }
    }
    .nav-items {
        .nav-item {
            padding-left: 40px;
            font-family: $font-heading;
            font-weight: bold;
            font-size: 1.2rem;
            transition: 250ms;
            &:hover {
                color: $color-mint;
            }
            @include tablet {
                padding-left: 20px;
                font-size: 0.7rem;
            }
            @include mobile {
                padding-left: 10px;
                font-size: 0.5rem;
            }
        }
    }
}
